@import url('https://fonts.cdnfonts.com/css/commodore-64-pixelized');

*{
    margin: 0vw;
    padding: 0vw;
    box-sizing: content-box;   
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7d71df;
    background-color: #7c71da;
    height: 100vh;
}

div.wrapper{
    height: 90vh;
    width: 80vw;
    background-color: #3e32a2;
    padding: 1vw;
}

div.header{
    font-family: 'Commodore 64 Pixelized', sans-serif;
    user-select: none;
    position: sticky;
    margin-bottom: auto;
    height: fit-content;
    margin-bottom: 5vh;
}

div.text{
    display: flex;
    flex-direction: column;
    font-family: 'Commodore 64 Pixelized', sans-serif;
    font-size: 2vh;
    gap: 6vh;
    text-align: center;
    justify-content: center;
}

div.header h1, div.header h3{
    text-align: center;
}

div.header h1{
    font-size: 5vw;
}

div.navigation{
    display: flex;
    margin-bottom: 3vh;
}

div.header button{
    background: none;
    border: 3px solid #7d71df;
    border-radius: 1vh;
    padding: 1vmin;
    display: flex;
    align-items: center;
}

div.header button img{
    width: 4vw;
}

div.header button:hover{
    cursor: pointer;
}

hr{
    border-color: #7c71da;
}

div.navbar{
    display: none;
}

div.navbar a{
    text-decoration: none;
    color: #7d71df;
}

div.navbar a:active{
    text-decoration: none;
    color: #58519b;
}

div.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    font-size: 2vh;
    flex-wrap: wrap;
    flex-shrink: 0;
    background-color: #7c71da;
    border-color: #5c54a8;
    border-width: 5px;
    font-family: 'Commodore 64 Pixelized', sans-serif;
}

div.button a{
    color: #3e32a2;
    text-decoration: none;
}

div.button a:active{
    color: #272066;
}

div.buttons{
    display: flex;
    gap: 1vh;
    justify-content: center;
}