@import url('https://fonts.cdnfonts.com/css/commodore-64-pixelized');

*{
    margin: 0vw;
    padding: 0vw;
    box-sizing: content-box;   
}

body{
    display: flex;
    color: #7d71df;
    background-color: #7c71da;
}

div.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

div.monitor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column;
    gap: 3vh;
    width: 70vw;
    height: 80vh;
    padding: 2vw;
    font-family: 'Commodore 64 Pixelized', sans-serif;
    user-select: none;
    list-style-position: inside;
    font-size: 3vmin;
    background-color: #3e32a2;
}

div.monitor > h1.title{
    text-align: center;
    font-size: 5vh;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

div.monitor  p{
    line-height: 3.2vh;
    letter-spacing: -0.1vw;
}

div.monitor div.button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 17vw;
    font-size: 3vh;
    flex-wrap: wrap;
    flex-shrink: 0;
    background-color: #7c71da;
    border-color: #5c54a8;
    border-width: 5px;
    font-family: 'Commodore 64 Pixelized', sans-serif;
    color: #3e32a2;
}

div.monitor div.buttons{
    display: flex;
    gap: 15vw;
    margin-top: 5vh;
    justify-content: space-evenly;
    width: fit-content;
    position: fixed;
    bottom: 15vh;
    left: 25vw;
}

div.monitor img{
    opacity: 0%;
    transition: opacity 0.3s ease;
    position: absolute;
    pointer-events: none;
}

#img1{
    bottom: 14vh;
    right: -13vw;
    width: 74vw;
}

#img2{
    bottom: 12vh;
    right: -5vw;
    width: 59vw;
}

div.monitor div.button:hover img{
    opacity: 100%;
}